@model SomaShare.Models.Offer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Offer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OfferPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OfferPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Message)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Message)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResponseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResponseDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Textbook)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Textbook.Author)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Buyer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Buyer.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Seller)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Seller.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
